<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    {%- if site.title -%}
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    {%- endif -%}
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
            {{ site.author | escape }}
            {%- endif -%}
            </li>
            {%- if site.safe_email -%}
            <li><a class="u-email" href="mailto:{{ site.safe_email }}">{{ site.safe_email }}</a></li>
            {%- endif -%}
        </ul>
        <ul class="social-media-list">
          {%- if site.footer-links.scholar -%}
          <li><a href="{{ site.footer-links.scholar }}"><i class="ai ai-google-scholar-square ai-3x"></i></a></li>
          {%- endif -%}
          {%- if site.footer-links.researchgate -%}
          <li><a href="{{ site.footer-links.researchgate }}"><i class="ai ai-researchgate-square ai-3x"></i></a></li>
          {%- endif -%}
          {%- if site.footer-links.orcid -%}
          <li><a href="{{ site.footer-links.orcid }}"><i class="ai ai-orcid-square ai-3x"></i></a></li>
          {%- endif -%}
          {%- if site.footer-links.publons -%}
          <li><a href="{{ site.footer-links.publons }}"><i class="ai ai-publons-square ai-3x"></i></a></li>
          {%- endif -%}
        </ul>
      </div>
      <div class="footer-col footer-col-2"></div>
      <div class="footer-col footer-col-3" align="right">
        <p>{{- site.address | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
