.footer-col-wrapper {
  color: $lite-font-color; 
}

.footer-col p{
  white-space: pre-line;
}

ul.social-media-list {
  display: flex;
}

.social-media-list li+li {
    padding: 0;
    margin-left: 4px;
}

.social-media-list a, .social-media-list a:visited {
  color: $lite-font-color;
}

.social-media-list a:hover {
  color: $dark-font-color;
}
