.footer-col-wrapper {
  color: $lite-font-color; 

  .footer-col p {
    white-space: pre-line;
  }

  ul.contact-list {
    margin-bottom: 0px;
  }
  
  ul.social-media-list {
    display: flex;

    li {
      &+li {
        padding: 0;
        margin-left: 4px;
      }

      a, a:visited {
        color: $lite-font-color;
        text-decoration:none;
      }

      a:hover {
        color: $dark-font-color;
        text-decoration:none;
      }
    }
  }
}
