.publi {
  ol {
    list-style: none;
    counter-reset: start-from;

    li {
      counter-increment: start-from -1;

      &::before {
        content: "[" counter(start-from) "] ";
        font-weight: bold;
        text-align: right;
      }
    }
  }


}
